<!DOCTYPE html>
<html lang="zh-cn">
<head>
	
	<meta charset="utf-8">
	<title>客户经理营销系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/uniform.default.css" rel="stylesheet">
	<link href="/static/css/jquery-ui-1.8.21.custom.css" rel="stylesheet"><!--日历样式-->
	<link href="/static/css/bootstrap-cerulean.css" rel="stylesheet">
	<link href="/static/css/charisma-app.css" rel="stylesheet">
	<link href="/static/css/chosen.css" rel="stylesheet">
	<style type="text/css">
		.control-group .controls {padding-left:18px;}
		.controls input[type=radio]{margin-top:-2px;margin-right:5px;}
		label{margin-right:15px;}
		input[type=text]{width:130px;margin-left:3px;}
		
		select{width:145px;}
		textarea{width:400px;resize:none;}
		.box-content{padding:0;}
		.form-horizontal .control-label{width:140px;}		
		.form-horizontal .controls textarea{margin-left:3px;}
		
	</style>
		
	<!-- ************************验证样式************************-->
	<script src="/static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
	<link href="/static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
	<!-- ************************/验证样式************************-->
	<script src="/static/js/common.js"></script>
	<script src="/static/js/factory.js"></script>
	<script src="../static/js/forbidBackSpace.js"></script>
	<!--显示日期-->
	<script charset="gb2312" src="/static/js/credit/credit_script.js" type="text/javascript"></script>
	<script charset="gb2312" src="../static/js/script.js" type="text/javascript"></script>		
	<script type="text/javascript">
	
	</script>	
</head>

<body onload="showdate()">
<!-- ************内容 starts********** -->		
	<div id="content" class="span10">
		<div class="Mytips">
			<span class="tip1"></span>
			<a href="#" class="tip2">贷款管理/&nbsp;贷前信息采集</a> 
			<span id="date" class="tip3"></span>
			<span class="tip4"></span>
		</div>
		
		<div class="row-fluid">
			<div class="box span12">
				<div class="box-header well">
					<h2><i class="icon-file"></i> 贷前信息采集</h2>
				</div>
				<div class="box-content">
					<form class="form-horizontal form-inline span12 " id="creditForm">
						<fieldset>
							<div class="control-group">
								<label class="control-label" for="customer_number">客户号<font color="red">*</font></label>
								<div class="controls">
									<span id="spry_customer_number">
										<input type="text" id="customer_number"/>
										<span class="textfieldRequiredMsg">
    										<span class="badge badge-important">!</span> 客户号不能为空
    									</span>
    								</span>
  								</div>
  								
							</div>
							<div class="control-group">
								<label class="control-label" for="company_name">单位名称<font color="red">*</font></label>
								<div class="controls">
									<span id="spry_company_name">
										<input type="text" id="company_name"/>
										<span class="textfieldRequiredMsg">
    										<span class="badge badge-important">!</span> 单位名称不能为空
    									</span>
    								</span>
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="company_manager">单位负责人<font color="red">*</font></label>
								<div class="controls">
									<span id="spry_company_manager">
										<input type="text" id="company_manager"/>
										<span class="textfieldRequiredMsg">
    										<span class="badge badge-important">!</span> 单位负责人不能为空
    									</span>
    								</span>
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="manager_id_card">负责人证件照</label>
								<div class="controls">
									<input class="input-file uniform_on" id="manager_id_card" type="file" name="file" accept="image/x-png,image/jpeg"  >
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="business_license">营业执照</label>
								<div class="controls">
									<input class="input-file uniform_on" id="business_license" type="file" name="file" accept="image/x-png,image/jpeg"  >
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="organization_code_certificate">组织机构代码证</label>
								<div class="controls">
									<input class="input-file uniform_on" id="organization_code_certificate" type="file" name="file" accept="image/x-png,image/jpeg"  >
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="tax_certificate">税务登记证</label>
								<div class="controls">
									<input type="text" id="tax_certificate">
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="credit_card_nuber">贷款卡卡号</label>
								<div class="controls">
									<input type="text" id="credit_card_nuber">
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="credit_card_img">贷款卡图片</label>
								<div class="controls">
									<input class="input-file uniform_on" id="credit_card_img" type="file" name="file" accept="image/x-png,image/jpeg"  >
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="company_articles">公司章程</label>
								<div class="controls">
									<input class="input-file uniform_on" id="company_articles" type="file" name="file" accept="image/x-png,image/jpeg"  >
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="report_of_assets">验资报告</label>
								<div class="controls">
									<input class="input-file uniform_on" id="report_of_assets" type="file" name="file" accept="image/x-png,image/jpeg"  >
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="shareholder" style="padding-bottom:120px;">股东情况</label>
								<div class="controls">
									<textarea rows="6" id="shareholder"></textarea>
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="balance_sheet">资产负债表</label>
								<div class="controls">
									<input class="input-file uniform_on" id="balance_sheet" type="file" name="file" accept="image/x-png,image/jpeg"  >
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="gl_sheet">损益表</label>
								<div class="controls">
									<input class="input-file uniform_on" id="gl_sheet" type="file" name="file" accept="image/x-png,image/jpeg"  >
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="company_img">经营场所拍照</label>
								<div class="controls">
									<input class="input-file uniform_on" id="company_img" type="file" name="file" accept="image/x-png,image/jpeg"  >
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="warehouse_img">库存情况拍照</label>
								<div class="controls">
									<input class="input-file uniform_on" id="warehouse_img" type="file" name="file" accept="image/x-png,image/jpeg"  >
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="stock_relationship" style="padding-bottom:120px;">股东家庭关系</label>
								<div class="controls">
									<textarea rows="6" id="stock_relationship"></textarea>
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="amount_of_credit">申请贷款金额</label>
								<div class="controls">
									<input type="text" id="amount_of_credit" maxlength="12">
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="year_of_credit">贷款期限</label>
								<div class="controls">
									<input type="text" id="year_of_credit" maxlength="3">
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="voice_record">面谈记录</label>
								<div class="controls">
									<input class="input-file uniform_on" id="voice_record" type="file" name="file" accept="image/x-png,image/jpeg"  >
  								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="guarantee" style="padding-bottom:120px;">担保情况</label>
								<div class="controls">
									<textarea rows="6" id="guarantee"></textarea>
  								</div>
							</div>
							
							<div class="form-actions"  >
								<input type="button" class="btn btn-primary" value="提交" onclick="dosubmit()"/>&nbsp;&nbsp;&nbsp;
								<button class="btn">重置</button>
							</div>
							
						</fieldset>
					</form>   
				</div><!--/box-content-->
			</div><!--/box-->
		</div><!--/row-fluid-->
	</div><!--/#content.span10-->
	<!-- ************内容 ends********** -->
	<script type="text/javascript">
		var sprytextfield1 = new Spry.Widget.ValidationTextField("spry_customer_number", "none", {validateOn:["blur"]});
		var sprytextfield2 = new Spry.Widget.ValidationTextField("spry_company_name", "none", {validateOn:["blur"]});
		var sprytextfield3 = new Spry.Widget.ValidationTextField("spry_company_manager", "none", {validateOn:["blur"]});
		function dosubmit(){
			if (Spry.Widget.Form.validate(document.getElementById("creditForm")) == false){
	    		alert("表单中填写信息缺失，请完成后提交！");
       			return;
			}
		}
	</script>

	<!-- jQuery -->
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<!-- jQuery UI -->
	<script src="/static/js/jquery-ui-1.8.21.custom.min.js"></script>
	<!-- transition / effect library -->
	<!--<script src="js/bootstrap-transition.js"></script>
	<!-- alert enhancer library -->
	<!--<script src="js/bootstrap-alert.js"></script>
	<!-- modal / dialog library -->
	<!--<script src="js/bootstrap-modal.js"></script>
	<!-- custom dropdown library -->
	<!--<script src="js/bootstrap-dropdown.js"></script>
	<!-- scrolspy library -->
	<!--<script src="js/bootstrap-scrollspy.js"></script>
	<!-- library for creating tabs -->
	<script src="/static/js/bootstrap-tab.js"></script>
	<!-- library for advanced tooltip -->
	<script src="/static/js/bootstrap-tooltip.js"></script>
	<!-- popover effect library -->
	<script src="/static/js/bootstrap-popover.js"></script>
	<!-- button enhancer library -->
	<!--<script src="js/bootstrap-button.js"></script>
	<!-- accordion library (optional, not used in demo) -->
	<!--<script src="js/bootstrap-collapse.js"></script>
	<!-- carousel slideshow library (optional, not used in demo) -->
	<!--<script src="js/bootstrap-carousel.js"></script>
	<!-- autocomplete library -->
	<!--<script src="js/bootstrap-typeahead.js"></script>
	<!-- tour library -->
	<!--<script src="js/bootstrap-tour.js"></script>
	<!-- library for cookie management -->
	<script src="/static/js/jquery.cookie.js"></script>
	<!-- calander plugin -->
	<script src='/static/js/fullcalendar.min.js'></script>
	<!-- data table plugin -->
	<script src='/static/js/jquery.dataTables.min.js'></script>

	<!-- chart libraries start -->
	<!--<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.min.js"></script>
	<script src="js/jquery.flot.pie.min.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	<!-- chart libraries end -->

	<!-- select or dropdown enhancer -->
	<script src="/static/js/jquery.chosen.min.js"></script>
	<!-- checkbox, radio, and file input styler -->
	<script src="/static/js/jquery.uniform.min.js"></script>
	<!-- plugin for gallery image view -->
	<script src="/static/js/jquery.colorbox.min.js"></script>
	<!-- rich text editor library -->
	<script src="/static/js/jquery.cleditor.min.js"></script>
	<!-- notification plugin -->
	<!--<script src="js/jquery.noty.js"></script>
	<!-- file manager library -->
	<script src="/static/js/jquery.elfinder.min.js"></script>
	<!-- star rating plugin -->
	<script src="/static/js/jquery.raty.min.js"></script>
	<!-- for iOS style toggle switch -->
	<script src="/static/js/jquery.iphone.toggle.js"></script>
	<!-- autogrowing textarea plugin -->
	<script src="/static/js/jquery.autogrow-textarea.js"></script>
	<!-- multiple file upload plugin -->
	<script src="/static/js/jquery.uploadify-3.1.min.js"></script>
	<!-- history.js for cross-browser state change on ajax -->
	<script src="/static/js/jquery.history.js"></script>
	<!-- application script for Charisma demo -->
	<script src="/static/js/charisma.js"></script>
	<script src="/static/js/jquery.json-2.4.min.js"></script>
</body>
</html>
